#canvas-div {
    width: 100%;
    height: 40rem;
    
    
}


#options-div {
    width: 100%;
    height: 20rem;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    margin-bottom: 5px;
    text-align: center
}



.optionsMenuItem {
    margin-right: 15px;
    height: 3rem;
    min-height: 3rem;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

}

#options-div li
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#options-div li label
{
    width: 100%;
    height: auto;

}
#speed-div {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    border: 1px solid white;
    text-align: center;
}
#speed-div label
{
    margin-right: 10px;
}
#completedCheck
{
    color: white;
}
#speedSettingsTitle
{
    position: absolute;
    margin: 0;
    padding: 0;
    color: white;
    top: -1rem;
    left: 0;
    transform: translate(0%,-50%);
    -webkit-transform: translate(0%,-50%);
    -moz-transform: translate(0%,-50%);
    -ms-transform: translate(0%,-50%);
    -o-transform: translate(0%,-50%);
}



#algo-canvas {
    border-top: 1px solid white;
}

#options-div label {
    text-align: center;
    color: white;
}


#amountOfValuesArea {
    position: relative;
}

#amountOfValues {
    height: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    
}



#delayArea
{
    position:relative;
    
}
#delayArea input
{
    text-align:center;
}


#sortTypeArea
{
    position:relative;
    height: 3rem;
}
.inputHeight
{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    height: 100%;
}
.labelAboveAndMiddle
{
    position: absolute;
    width: 100%;
    top: -1.2rem;
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
}

.interactiveButton
{
    position:relative;
    width: 8rem;
    border-radius: 8px;
    transition: transform 0.3s;
    background-color:wheat;
    color: none;
    border: none;
}


.interactiveButtonOff
{
    opacity: 0.6;
    transition: none !important;
    transform: none !important;
}

    
    

#sort-button
{
    background-color: lime;
}



.interactiveButton:hover {
    transform: scale(1.1);
}



html,
body,
#main {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(4, 4, 43);
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}


@media only screen and (max-width: 1100px)
{
    #options-div
    {
        height: 100%;
    }
    .optionsMenuItem
    {
        margin-bottom: 1rem;
    }
}